/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
 html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    height:auto;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
  }
  
  /**
   * Remove default margin.
   */
  body {
    margin: 0; 
    height:auto;
    width:100%;
      position: relative;
      scroll-behavior: smooth
  }
  
  /* HTML5 display definitions
     ========================================================================== */
  /**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block; }
  
  /**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }
  
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  audio:not([controls]) {
    display: none;
    height: 0; }
  
  /**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
   */
  [hidden],
  template {
    display: none; }
  
  /* Links
     ========================================================================== */
  /**
   * Remove the gray background color from active links in IE 10.
   */
  a {
    background-color: transparent; }
  
  /**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */
  a:active,
  a:hover {
    outline: 0; }
  
  /* Text-level semantics
     ========================================================================== */
  /**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
  abbr[title] {
    border-bottom: 1px dotted; }
  
  /**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
  b,
  strong {
    font-weight: bold; }
  
  /**
   * Address styling not present in Safari and Chrome.
   */
  dfn {
    font-style: italic; }
  
  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
  h1 {
    font-size: 3.5rem;
    margin: 0.67em 0; }
  
  /**
   * Address styling not present in IE 8/9.
   */
  mark {
    background: #ff0;
    color: #000; }
  
  /**
   * Address inconsistent and variable font size in all browsers.
   */
  small {
    font-size: 80%; }
  
  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  
  sup {
    top: -0.5em; }
  
  sub {
    bottom: -0.25em; }
  
  /* Embedded content
     ========================================================================== */
  /**
   * Remove border when inside `a` element in IE 8/9/10.
   */
  img {
    border: 0; }
  
  /**
   * Correct overflow not hidden in IE 9/10/11.
   */
  svg:not(:root) {
    overflow: hidden; }
  
  /* Grouping content
     ========================================================================== */
  /**
   * Address margin not present in IE 8/9 and Safari.
   */
  figure {
    margin: 1em 40px; }
  
  /**
   * Address differences between Firefox and other browsers.
   */
  hr {
    box-sizing: content-box;
    height: 0; }
  
  /**
   * Contain overflow in all browsers.
   */
  pre {
    overflow: auto; }
  
  /**
   * Address odd `em`-unit font size rendering in all browsers.
   */
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em; }
  
  /* Forms
     ========================================================================== */
  /**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
  /**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */ }
  
  /**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
  button {
    overflow: visible; }
  
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
  button,
  select {
    text-transform: none; }
  
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }
  
  /**
   * Re-set default cursor for disabled elements.
   */
  button[disabled],
  html input[disabled] {
    cursor: default; }
  
  /**
   * Remove inner padding and border in Firefox 4+.
   */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  
  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  input {
    line-height: normal; }
  
  /**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  
  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  
  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
   */
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */ }
  
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  
  /**
   * Define consistent border, margin, and padding.
   */
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  
  /**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
  legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }
  
  /**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
  textarea {
    overflow: auto; }
  
  /**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
  optgroup {
    font-weight: bold; }
  
  /* Tables
     ========================================================================== */
  /**
   * Remove most spacing between table cells.
   */
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  td,
  th {
    padding: 0; }
  
  /*************************************************************
  
  RESPONSIVE SCREEN SIZES
  
  *************************************************************/
  /*************************************************************
  
  FONTS AND SIZES
  
  *************************************************************/
  /*************************************************************
  
  COLOR PALETTE
  
  *************************************************************/
  /*************************************************************
  
  WRAPPER PADDING
  
  *************************************************************/
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0; }
  
  html {
    font-size: 51%;
    height: 100%; }
    @media only screen and (min-width: 768px) {
      html {
        font-size: 53%; } }
    @media only screen and (min-width: 992px) {
      html {
        font-size: 58%; } }
    @media only screen and (min-width: 1200px) {
      html {
        font-size: 63%; } }
  
    @media only screen and (min-width: 1600px) {
      html {
        font-size: 65%; } }
  
    @media only screen and (min-width: 2000px) {
      html {
        font-size: 67%; } }
  
    @media only screen and (min-width: 2400px) {
      html {
        font-size: 73%; } }
  
    @media only screen and (min-width: 2800px) {
      html {
        font-size: 79%; } }
  
    @media only screen and (min-width: 3200px) {
      html {
        font-size: 85%; } }
  
  body {
    background: #ffffff;
    color: #5B6874;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "Gotham Narrow A", "Gotham Narrow B","Archivo Narrow", sans-serif;
    margin: 0;
    padding: 0;}
  
  img {
    border: none;
    max-width: 100%; }
  
  ul ul,
  ol ul,
  ol ul,
  ol ol {
    margin-top: 0.4em;
    margin-bottom: 0.4em; }
  
  li {
    margin-bottom: 0.5em;
    line-height: 1.5; }
  
  p,
  ul,
  ol {
    margin-bottom: 1.6em; }
  ul.discs > li{
      list-style-type: none;
      position: relative;
    }
    ul.discs > li:before{
      content: "•";
      position: absolute;
      left: 0;
      color: #2ab0e3;
      margin-left: -15px;
      transform: scale(1.5);
      transform-origin: center;
    }
    ul.arrows>li {
      list-style-type: none!important;
      position: relative;
  }
  ul.arrows>li:before {
    content: url('/EmergeWebsite/media/EmergeWebsite/_core/images/icons/arrow.png');
    height: 1em;
    width: 1em;
    -webkit-transform: scale(.4);
    transform: scale(.4);
    line-height: 0;
    font-size: inherit;
    left: 0;
    top: 0;
    margin-left: -2em;
    position: absolute;
  }
  a, a:visited {
    color: #2AB0E3;
    text-decoration: none; }
  
  a:hover, a:visited:hover {
    color: #1999C9;
    text-decoration: underline; }
  h1,h2,h3,h4,h5 {
    font-family: "Gotham A", "Gotham B","Montserrat",sans-serif;
  }
  h1,
  .h1 {
    font-size:3rem;
    margin: 0 0 0.8em;
    font-weight: 400; }
    @media only screen and (min-width: 992px) {
  h1,.h1 { 
      font-size:3.5rem; }}
  
  h2,
  .h2 {
    margin: 0 0 0.5em;
    font-size: 2.5rem; }
    @media only screen and (min-width: 992px) {
      h2,
      .h2 {
        font-size: 3.6rem; } }
  
  h3,
  .h3 {
    margin: 0 0 0.5em;
    color: #8B2332;
    font-family: "Gotham Narrow A", "Gotham Narrow B","Archivo Narrow", sans-serif;
    font-size: 2.2rem;
    font-weight: 400; }
    @media only screen and (min-width: 992px) {
      h3,
      .h3 {
        font-size: 3rem; } }
  
  h4,
  .h4 {
    margin: 0 0 0.5em;
    font-weight: 400;
    font-size: 2rem; }
    @media (min-width:768px) {
      .headline {
          margin-bottom: 2em;
      }
    }
    h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
      outline: none;
  }
  h1+.subHead,
  h2+.subHead,
  h3+.subHead,
  h4+.subHead {
    margin-top:-.5em;
  }
  .subHead {
    font-size: 1.8rem;
    margin: 0 0 0.5em;
    color: #8B2332;
  }
  .lead {
    margin: 0 0 0.5em;
    color: #8B2332;
    font-family: "Gotham A", "Gotham B","Montserrat",sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
  }
  
  .text-xs {
    font-size: 1.4rem; }
  
  .text-sm {
    font-size: 1.6rem; }
  
  .text-lg {
    font-size: 2rem; }
  
  .text-xl {
    font-size: 2.2rem; }
  
  .text-dark {
    color: #2F363D; }
  
  .text-light {
    color: #ACB4BA; }
  
  .text-ex-light {
    color: #CBD2D7; }
  
  .line-height-compact {
    line-height: 1.2; }
  
  .line-height-wide {
    line-height: 2; }
  
  .line-height-wider {
    line-height: 2.4; }
  
  .ta-center {
    text-align: center; }
  
  .clearfix, .contactForm:after, .contactForm .radioBtns:after, .contactForm .radioBtns label:after, .quickLinkContainer:after, .newsContainer:after, .newsItem:after, header:after, .topLinks:after, .footerSignup:after, .iSpotlightContainer:after, .crumbs:after, .faqSearchBar:after, .asideBox:after, .findTopBar:after, .findTopBar .findInput:after, .specialtyContainer:after, .doctorContainer:after, .wrapper:after, .row:after {
    content: "";
    display: table;
    clear: both; }
  


/*************************************************************

BUTTONS

*************************************************************/
a.btn, .contactForm input[type="submit"],
a:visited.btn,
.contactForm input[type="submit"]:visited,
.btn {
  display: inline-block;
  background: #cfcfcf;
  padding: 5px 15px;
  color: #555;
  margin: 0 0 0.3em;
  text-align: center;
  font-weight: 600; }
  a.btn:hover, .contactForm input[type="submit"]:hover,
  a:visited.btn:hover,
  .contactForm input[type="submit"]:visited:hover,
  .btn:hover {
    background: #bbb;
    text-decoration: none; }

a.btnLarge,
a:visited.btnLarge,
.btnLarge {
  padding: 9px 25px; }

a.btnFull,
a:visited.btnFull,
.btnFull {
  padding: 9px 25px;
  display: block; }

a.btnPrimary,
a:visited.btnPrimary,
.btnPrimary {
  background: #2AB0E3;
  color: #fff; }
  a.btnPrimary:hover,
  a:visited.btnPrimary:hover,
  .btnPrimary:hover {
    background: #1999C9; }

a.btnAccent1, .contactForm input[type="submit"],
a:visited.btnAccent1,
.contactForm input[type="submit"]:visited,
.btnAccent1 {
  background: #7B2A36;
  color: #fff; }
  a.btnAccent1:hover, .contactForm input[type="submit"]:hover,
  a:visited.btnAccent1:hover,
  .contactForm input[type="submit"]:visited:hover,
  .btnAccent1:hover {
    background: #7B2A36; }

@media only screen and (min-width: 992px) {
  a.btnVideo,
  a:visited.btnVideo,
  .btnVideo {
    padding: 5px 35px; } }
a.btnVideo:before,
a:visited.btnVideo:before,
.btnVideo:before {
  content: "\55";
  font-family: ph-icons;
  font-weight: normal;
  margin: 0 5px 0 0;
  font-size: 1.2em;
  vertical-align: middle; }
  @media only screen and (min-width: 992px) {
    a.btnVideo:before,
    a:visited.btnVideo:before,
    .btnVideo:before {
      font-size: 30px;
      margin: 0 15px 0 0; } }

a.btnPlainArrow,
a:visited.btnPlainArrow {
  padding: 0;
  background: transparent;
  color: #2AB0E3;
  line-height: 1.2; }
  a.btnPlainArrow:before,
  a:visited.btnPlainArrow:before {
    content: "\56";
    font-family: ph-icons;
    margin: 0 7px 0 0; }
  a.btnPlainArrow:hover,
  a:visited.btnPlainArrow:hover {
    background: transparent;
    color: #1999C9; }
