body { 
    position:relative;
    font-size:16px;
    font-family: 'Gotham Narrow';
}

/* -- Fade -- */
.fade {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:RGB(0,0,0,.5);
}

/* -- Main Menu -- */
.main-menu {
position:fixed;
top:0;
right:0;
max-width:90%;
width:600px;
height:100%;
background:#ffffff;
box-shadow:10px 0 25px 0px black;
display:flex;
flex-direction:column;
transform:translateX(100%);
transition:transform 400ms ease;
overflow: hidden;
}
.main-menu.active{
    transform: translateX(0);
}

/* -- Main Menu -- Close */
.close {
    text-align: right;
    padding: 1em;
    line-height: 1;
    border-bottom: 1px solid #f2f2f2;
}
.close i {
    padding-left:5px;
}

/* -- Main Menu -- Navigation */
.main-menu nav ul {
    padding:0;
    margin:0;
    list-style-type:none;
    display: flex;
}
.main-menu nav ul.active {
}

.main-menu nav ul>li {
margin:0;
line-height:1;
font-family: 'Gotham Narrow';
}
.main-menu nav ul>li.active i {
    transform: rotate(180deg);
    float: left;
    margin-right: 15px;
    color: #ffffff;
}
.main-menu nav ul>li>a,.main-menu nav ul>li>a:visited {
    padding:1em;
    width:100%;
    display: flex;
    text-decoration:none;
}

.main-menu nav ul>li>ul {
    display:none;
}
nav.listNav ul>li.active>a {
    box-shadow: inset 0px -5px 20px -5px rgba(42, 42, 42, 0.50);
}

/* -- Main Menu -- Navigation -- listNav */
nav.listNav {
    flex: 1;
    display: flex;
    flex-direction: column;
}
nav.listNav ul {
    display: flex;
    flex-direction: column;
    flex:1 auto;
    overflow-x:hidden;
    overflow-y:scroll;
}
nav.listNav ul>li {
    border-bottom: 1px solid #f2f2f2;
    line-height: 1;
    font-size:1em;    
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    flex:0 1 auto;
}
nav.listNav ul>li>a,nav.listNav ul>li>a:visited {
    color:#525252;
    transition: 200ms ease;
}
nav.listNav ul>li.active{
    border-bottom:0;
}
nav.listNav ul>li>a{
    padding:1em 2em;
    display:block;
}
nav.listNav ul>li.active>a {
background:#525252;
color:#ffffff;
}

    @media (max-width: 639px){
    nav.listNav li.active>a:before {
        content: '\e900';
        font-size:1.1em;
        margin-right:15px;
        font-family: 'ph-icons';
    }
    nav.listNav li.subNav>a:after {
        content: '\57';
        font-size:1.1em;
        margin-right: 1em;
        position:absolute;
        right:0;
        font-family: 'ph-icons';
    }

    nav.listNav li.active>a:after {
        opacity:0;
    }
    nav.listNav ul>li>a:before {
        color: #ffffff;
    }
}

/* -- Main Menu -- Navigation -- Blocks */
nav.blockNav>ul {
    display:flex;
    flex-flow:row wrap;
    background: #8a2233;
    color: #ffffff;
}
@media (max-width: 639px){
ul.blocks>li {
    display:flex;
    flex: 1 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:50%;
}
    ul.blocks>li {
        outline: 1px solid rgba(255, 255, 255, 0.2);
    }
}
ul.blocks>li>a,ul.blocks>li>a:visited  {
    color:#ffffff;
    font-size:smaller;
    flex-direction:column;
}
ul.blocks>li>a>i {
    font-size:1.3em;
    margin-bottom:5px;
    display:block;
}
nav.listNav>ul>li {
    animation-name: slideInLeft;
    animation-duration:400ms
}
nav.listNav>ul>li>ul>li {
    animation-name: slideInRight;
    animation-duration: 400ms
}
@keyframes slideInRight {
    0%   {transform:translateX(100%);opacity:0;}
    50%  {opacity:0;}
    100% {transform:translateX(0);opacity:1;}
}
@keyframes slideInLeft {
    0%   {transform:translateX(-100%);opacity:0;}
    50%  {opacity:0;}
    100% {transform:translateX(0);opacity:1;}
}

@media (min-width: 640px){
    /* Main Menu */ 
    .main-menu {    
        align-content: flex-start;
        flex-flow:row wrap;
    }
    .main-menu>.close {
        display:none;
    }
    nav.blockNav .close {
        width: 100%;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }

/* -- Main Menu -- Navigation -- listNav */
nav.listNav {
position:relative;
}
    /* List Items */
    .main-menu nav ul > li > ul {
        display:block;
    }
    nav.listNav ul {
        display:block;
        overflow-x:hidden;
        overflow-y:auto;
    }
    nav.listNav ul>li {
        border:0; 
        display:flex;
        flex: 1 auto;
    }
    .main-menu nav>ul>li>a {
        font-weight:bold;
        padding:1em;
    }
    nav.listNav ul>li>a:hover {
    background: #efefef;
}
    .main-menu nav ul>li.subNav>ul>li>a, .main-menu nav ul>li.subNav>ul>li>a {
        padding: 12px 30px;
    }
    /* Block Nav */
    nav.blockNav{
        width: 130px;
        background: #8a2233;
        display:flex;
    }
    nav.blockNav .close {
     display: flex;
     justify-content: flex-end;
    }
    nav.blockNav>ul {
        flex-direction:column;
        flex: 1;
    }
    nav.blockNav>ul>li {
        width:100%;
        flex: 1;
        display: flex;
    }
    nav.blockNav>ul>li:nth-child(even) {
        background: #9f283c;
    }
    nav.blockNav>ul>li>a {
        display: flex;
        text-align:center;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    }
    nav.blockNav>ul>li:first-child {
        display: flex;
        flex: 0 1 auto;
    }
    nav.listNav>.call>a{
    padding: .5em;
    color: #5B6874;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background: gainsboro;
    text-decoration:none;
    }
    nav.listNav>.call>a>i{
        margin-right:10px;
    }